@import url(http://fonts.googleapis.com/css?family=Arvo);
a{
	text-decoration: none;
	
	color:#30610A;
	outline: 0;
}

	a:hover{
	color: #9AB60D;
	transition:0.5s;
	}

	a:link:active, a:visited:active {
    color: black;
	}
	
table, tr, td{
	border-collapse: collapse;
	 border: 1px solid black;
	 width: 1000px;
	 text-align: center;
	 height: 25px;
}	

table, tr, td#dp{
	border: 0px solid black;
}
	

	
} 

img{
	border-radius: 1cm;
}

h1{
	text-align: center;
	font-family: Comic Sans MS;
}

h2{
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 40px;
	color: #9AB60D;
}


h4{
	color:#30610A;
}

td#esc{
	text-align: right;
	border: 0px solid black;
}

td#dir{
	text-align: left;
	border: 0px solid black;
}


h3{
	font-size: 16px;
}



tr{
	 line-height: 22px;
}

textarea{
	line-height: 22px;
}

html{
	
	font-family: verdana;
}
input, select, textarea{
    
	border-radius: 0.2cm;
	line-height: 22px;
	font-family: verdana;
}
	